<div>

    <!-- Text displayed if no active connections exist -->
    <p class="placeholder" ng-hide="hasActiveConnections()">{{'HOME.INFO_NO_ACTIVE_CONNECTIONS' | translate}}</p>

    <!-- All active connections -->
    <div ng-repeat="activeConnection in activeConnections" class="connection">
        <a href="#/client/{{activeConnection.client.id}}">

            <!-- Connection thumbnail -->
            <div class="thumbnail">
                <guac-thumbnail client="activeConnection.client"></guac-thumbnail>
            </div>

            <!-- Connection name -->
            <div class="caption">
                <span class="name">{{activeConnection.name}}</span>
            </div>

        </a>
    </div>

</div>
